/* CSS Document by GJ Design © 2003 - 2004*/

input,textarea {border:solid 1 #000000;  font-size:10px; font color:#ffffff; font-family:Verdana, Arial, Helvetica, sans-serif}
input.semborda {border:none; font-size:10px; font-family:verdana, arial, helvetica, sans-serif}
select {background-color:#990000; font-size:10px; text-color: #990000}

#box  {position:absolute;  top:445; left:225; clip:rect(0,576,155,0); height:155; width:576; z-index:20}

.cpl  {font-size:11px; color:#000000}

.linha {font-size:10px; line-height:15px;}
<STYLE>TD {
	COLOR: black; FONT-FAMILY: arial,verdana; FONT-SIZE: 12px
}

.menu {
	BACKGROUND-COLOR: #e5e5e5; FONT: bold; BORDER-BOTTOM-WIDTH: 1px; BORDER-LEFT-WIDTH: 1px; BORDER-RIGHT-WIDTH: 1px; BORDER-TOP-WIDTH: 1px; COLOR: #990000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 10px
}
.campo {
	BACKGROUND-COLOR: white; FONT: bold; BORDER-BOTTOM-WIDTH: 1px; BORDER-LEFT-WIDTH: 1px; BORDER-RIGHT-WIDTH: 1px; BORDER-TOP-WIDTH: 1px; COLOR: #990000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 10px
}
.botao {
	BACKGROUND-COLOR: #990000; BORDER-BOTTOM-COLOR: black; BORDER-BOTTOM-WIDTH: 1px; BORDER-LEFT-COLOR: black; BORDER-LEFT-WIDTH: 1px; BORDER-RIGHT-COLOR: black; BORDER-RIGHT-WIDTH: 1px; BORDER-TOP-COLOR: black; BORDER-TOP-WIDTH: 1px; COLOR: white; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 10px; FONT: bold
}
A:link {
	COLOR: black; TEXT-DECORATION: none
}
A:visited {
	COLOR: black; TEXT-DECORATION: none
}
A:hover {
	TEXT-DECORATION: underline
}
P.pesqDom {
	FONT-FAMILY: tahoma; FONT-SIZE: 11px; MARGIN: 0px 0px 0px 4px
}
P.avisos {
	MARGIN: 4px 3px
}
.caracteristicas {
	MARGIN: 5px 0px
}

#divDownControl{position:absolute; width:100%; left:4px; top:221px; z-index:1; text-align: right} 
#divContainer{position:absolute; width:496px; height:198px; overflow:hidden; top:196px; left:260px; clip:rect(0,100%,240,0); visibility:hidden} 
#divContent{position:absolute; top:0; left:0} 
</STYLE>
